<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org/">
<head>
    <title>Category page</title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Main page</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/items">Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/categories">Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/orders">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/groups">Groups</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row">
        <h2>Categories page</h2>
    </div>

    <div class="row">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="Second group">
                <a href="/categories/new" type="button" class="btn btn-primary">New</a>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Parent</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="category: ${categories}">
                    <td th:text="${category.id}"/>
                    <td th:text="${category.name}"/>
                    <td th:text="${category.parent?.name}"/>
                    <td th:text="${category.description}"/>
                    <td>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group me-2" role="group" aria-label="Second group">
                                <a th:href="@{'/categories/' + ${category.id}}" type="button" class="btn btn-warning">Edit</a>
<!--                                <a th:href="@{'/categories?deleteId=' + ${item.id}}" type="button" class="btn btn-danger">Remove</a>-->
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>