<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org/">
<head>
    <title>Category page</title>
    <div th:replace="main.html :: header"></div>
</head>
<body>
<div th:replace="main.html :: navigation"></div>

<div class="container">
    <div class="row">
        <h2>Categories page</h2>
    </div>

    <div class="row">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="Second group">
                <a href="/categories/new" type="button" class="btn btn-primary">New</a>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Parent</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="category: ${categories}">
                    <td th:text="${category.id}"/>
                    <td th:text="${category.name}"/>
                    <td th:text="${category.parent?.name}"/>
                    <td th:text="${category.description}"/>
                    <td>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group me-2" role="group" aria-label="Second group">
                                <a th:href="@{'/categories/' + ${category.id}}" type="button" class="btn btn-warning">Edit</a>
<!--                                <a th:href="@{'/categories?deleteId=' + ${item.id}}" type="button" class="btn btn-danger">Remove</a>-->
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>